.dialog-title-host-game {
    background-color: var(--primary-color);
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

.dialog-title-text-host-game {
    font-weight: 600 !important;
    font-size: 1.5rem;
    color: var(--primary-text-color);
    font-family: 'Montserrat', sans-serif;
}

.dialog-content {
    background-color: #fff;
    padding: 24px;
}

.input-field {
    border-radius: 8px;
    margin-bottom: 16px;
}

.dialog-actions {
    padding: 16px;
    justify-content: center;
}

.host-game-form .MuiDialogActions-root .cancel-button, .create-button {
    color: var(--primary-button-color);
    padding: 8px 16px;
    text-transhost-game-form: uppercase;
}

.host-game-form .MuiDialogActions-root .cancel-button {
    background-color: #f5f5f5;
    color: var(--primary-button-color-hover);
}

.host-game-form .MuiDialogActions-root .create-button {
    background-color: var(--primary-button-color);
    color: var(--primary-text-color);
    font-weight: 600;
}

.host-game-form .MuiDialogActions-root .cancel-button:hover {
    background-color: var(--secondary-button-color-hover);
}

.host-game-form .MuiDialogActions-root .create-button:hover {
    background-color: var(--primary-button-color-hover);
}

.host-game-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
    box-shadow: none;
    background-color: white;
}

.host-game-form input {
    padding: 12px;
    width: 358px;
}

.host-game-form .MuiIconButton-root {
    position: absolute;
    right: 16px;
    background-color: var(--primary-button-color);
}

.date-picker-wrapper {
    width: 100%;
}

@media (max-width: 768px) {
    .input-field {
        gap: 4px;
    }
}