.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
    /* background-color: var(--primary-color); */
    opacity: 0.9;
    color: white;
    position: fixed;
    top: 0;
    left: 0%;
    right: 0%;
    height: 60px;
    z-index: 100;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.navbar-center {
    flex: 1;
    text-align: center;
}

.navbar-heading {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0;
    color: #fcfeff;
}

.navbar-left {
    cursor: pointer;
}

@keyframes enlargeShrink {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
}

.navbar-left:hover {
    transform: scale(1.25);
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.2s;
}

.profile-icon:hover {
    transform: scale(1.1);
}

.home-icon {
    color: white;
    font-size: xx-large;
} 