version: '3.8'

networks:
  webnet_secret-santa:
    driver: bridge

services:

  secret-santa-ui:
    image: "ghcr.io/ideaforgee/secretsanta/secret-santa-ui:${UI_BUILD_NUMBER}"
    depends_on:
      - secret-santa-backend
    ports:
      - "8083:80"
    networks:
      - webnet_secret-santa
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
  secret-santa-backend:
    image: "ghcr.io/ideaforgee/secretsanta/secret-santa-backend:${BACKEND_BUILD_NUMBER}"
    ports:
      - "5001:5001"
    env_file:
      - ./.env
    networks:
      - webnet_secret-santa