/* Main container */
.container {
    background-image: url('../../../assets/logoutTheme.png');
    background-size: cover; /* Ensures the image covers the container */
    background-position: center; /* Keeps the image centered */
    height: 100vh; /* Ensures the container takes full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* Make sure the background image adapts on smaller screens */
    background-attachment: fixed; /* Optional: makes the background fixed when scrolling */
}

/* Add media query for smaller screen sizes */
@media (max-width: 768px) {
    .container {
        background-position: left; /* Position the image top-center for better fit */
    }
}

/* Form wrapper */
form {
    background-color: rgba(155, 145, 145, 0.3);
    padding: 3rem;
    border-radius: 10px;
    color: #888181;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 24px #5C5696;
}

/* Input container */
.input-container {
    width: 100%;
    /* margin-bottom: 20px; */
}

input {
    width: -webkit-fill-available;
    padding: 14px;
    border: 2px solid #D1D1D4;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.input-error {
    border-color: red;
    color: red;
}

.input-error::placeholder {
    color: red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

input:focus {
    border-color: #6A679E;
    outline: none;
}

/* Submit button */
.submit-btn {
    background: #fff;
    font-size: 14px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.2s;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.signup{
    background-color: var(--primary-button-color);
    color: white;
}

.submit-btn:hover {
    border-color: #6A679E;
}

/* Media Queries for responsiveness */
@media (max-width: 767px) {
    .container {
        padding: 2rem;
        background-position: 23%;
    }

    form {
        padding: 2rem;
    }

    input {
        padding: 12px;
    }

    .submit-btn {
        padding: 12px 16px;
    }
}

@media (max-width: 1024px) {
    form {
        padding: 3rem;
    }
}
