.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.chat-mode-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
    gap: 10px;
    margin-top: 10px;
}

/* Chat window styles */
.chat-window {
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: #fff;
}

.custom-button:hover {
    background-color: #252091 !important;
}


.close-chat-button {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: var(--primary-text-color);
    cursor: pointer;
    position: absolute;
    padding: 9px;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.message-input,
.send-button {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
}


.chat-footer {
    display: flex;
    padding: 10px;
    background-color: #ececec;
}

.message-input {
    width: 100%;
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.send-button {
    font-size: 16px;
    text-align: center;
    width: 45px;
    height: 37px;
    border: 1px;
    border-radius: 40%;
    background-color: var(--primary-button-color);
    color: white;
    cursor: pointer;
}

.message {
    display: flex;
    align-items: center;
    width: 100%;
}

.sent {
    justify-content: flex-end;
    margin: initial;
    margin-top: 5px;
}

.sent .message-text {
    max-width: 80%;
    background-color: #acd2f2;
    color: var(--primary-text-color);
    padding: 8px;
    border-radius: 10px;
    justify-content: flex-end;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    font-size: medium;
    text-align: left;
}

.received {
    justify-content: flex-start;
    margin: initial;
    margin-top: 5px;
}

.received .message-text {
    max-width: 80%;
    background-color: white;
    color: var(--primary-text-color);
    padding: 8px;
    border-radius: 10px;
    justify-content: flex-end;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    font-size: medium;
    text-align: left;
}

.delete-message {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
}

.chat-header {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    position: relative;
}

.button-icon {
    margin-right: 8px;
    vertical-align: middle;
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .chat-container {
        background-position: 79% !important;
    }

    .chat-mode-buttons {
        flex-direction: column;
    }
}